@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background :rgba(0,0,0,0.5) url(https://res.cloudinary.com/easyhouserent/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1666450724/background/nest-1_butlmq.jpg) ;
    background-size: cover;
}

h1{
    font-size: 70px;
    font-weight: bolder;
}

.content{
    position: fixed;
    top: 0;
    left: 0;
    width : 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color : #FFF;
}